<div>
  {{status}} <br />
  Número do Pedido: {{numeroP}} <br />
  <select #t (change)="mudarSelect(t.value)" id="select"> 
    <option [value]="">Selecionar Cliente</option>
  </select> <br />
  Código: {{codigoCliente}} <br />
  Telefone: {{telefoneCliente}} <br />
  <br />
  <select #f (change)="mudarSelect2(f.value)" id="select2"> 
    <option [value]="">Selecionar Produto</option>
  </select> <br />
  <input type="number" value="{{qtd}}" (change)="qtdProduto()" id="inputQtd">
  <br />
  Valor Total: R${{valorTotal}} <br />
  <button (click)="fecharOrcamento()">Fechar Orçamento</button>
</div>