.logout {
    position: absolute;
    padding: 6px 10px;
    top: 12px;
    right: 12px;
    border: black 1px solid;
    border-radius: 8px;
}

.logout:hover {
    cursor: pointer;
    text-decoration: underline;
}

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao {
    width: 140px;
    height: 30px;
    margin-bottom: 35px;
    border: black 1px solid;
    border-radius: 4px;
}

.botao:hover {
    cursor: pointer;
    text-decoration: underline;
}