<div class="body">
  <button (click)='logout()' class = 'logout'>Logout</button>
  <br />
  <span>Código do Produto:</span> <br/>
  <input [(ngModel)]='codigoProduto' placeholder="Código" class="input">
  <br/>
  <br />
  <span>Nome do Produto:</span> <br/>
  <input [(ngModel)]='nomeProduto' placeholder="Nome" class="input">
  <br/>
  <br/>
  <span>Preço:</span> <br/>
  <input [(ngModel)]='precoProduto' placeholder="Preço" class="input">
  <br/>
  <br/>
  <div class="divBotoes">
    <button id='botao2' (click)='add()'>Adicionar Produto</button>
    <button class = 'botao' (click)='voltar()'>Cancelar</button>
  </div>
</div>