<div>
  <button (click)='logout()' class = 'logout'>Logout</button>
  <br />
  <span>Código do Produto:</span> <br/>
  <input [(ngModel)]='codigoProduto' placeholder="Código">
  <br/>
  <br />
  <span>Nome do Produto:</span> <br/>
  <input [(ngModel)]='nomeProduto' placeholder="Nome">
  <br/>
  <br/>
  <span>Preço:</span> <br/>
  <input [(ngModel)]='precoProduto' placeholder="Preço">
  <br/>
  <br/>
  <button class='botao' (click)='add()'>Adicionar Produto</button>
  <button class = 'botao' (click)='voltar()'>Cancelar</button>
</div>